<!-- views/orders/order-details.hbs -->
<h1 class="text-center my-4">Detalles de la Orden</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <form action="/receptions/confirm/{{order._id}}" method="POST">
          <h5 class="card-title">Orden N° {{order.orderNumber}}</h5>
        </div>
        <div class="card-body">
          <p><strong>Proveedor:</strong> {{order.provider.name}}</p>
          <p><strong>Sucursal:</strong> {{order.branch.name}}</p>
          <h5>Producto:</h5>
          <div>
            {{#each order.products}}
              <div class="mb-4">
                <p><strong>{{this.product.name}}</strong> - Cantidad: {{this.quantity}}</p>
                <hr>
                    <div class="form-group mt-3">
                    <label for="price-{{this.product._id}}">Precio:</label>
                    <input type="number" class="form-control" id="price-{{this.product._id}}" name="price" step="0.01" required>
                  </div>
                  <div class="form-group">
                    <label for="expirationDate-{{this.product._id}}">Fecha de caducidad:</label>
                    <input type="date" class="form-control" id="expirationDate-{{this.product._id}}" name="expirationDate" required>
                  </div>
                  <button type="submit" class="btn btn-success mt-2">Confirmar Recepción</button>
                </form>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
